<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
       style="background-color: #1b6ec2 !important">
    <a class="nav-link" [routerLink]="['/dashboard']">
      <img src="assets/EDC logo_2021Feb01.gif"/> Operations
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
      <!-- Admin Navigation Starts here-->
      <div *ngIf="isAdmin">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['training']">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['support']">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['marketing']">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['order-processing']">Order Processing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['contacts']">Contacts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['administration/edc-users']">EDC Users</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/user-roles']">EDC User Roles</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/user-statuses']">User Status</a></li>
              <hr>
              <li><a class="dropdown-item" [routerLink]="['administration/source']">Source</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-category']">Contact Category</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-types']">Contact Types</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/collaterals']">Collateral</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/associations']">Associations</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Hi {{currentUser.fullName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
      <!-- Admin Navigation ends here-->

      <!-- Editor Navigation Starts here-->
      <div *ngIf="isEditor">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['training']">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['marketing']">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['order-processing']">Order Processing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['contacts']">Contacts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['administration/source']">Source</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-category']">Contact Category</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-types']">Contact Types</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/collaterals']">Collateral</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/associations']">Associations</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Hi {{currentUser.fullName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>

      <!-- Reader Navigation Starts here-->
      <div *ngIf="isReader">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['training']">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['marketing']">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['order-processing']">Order Processing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['contacts']">Contacts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['administration/source']">Source</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-category']">Contact Category</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/contact-types']">Contact Types</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/collaterals']">Collateral</a></li>
              <li><a class="dropdown-item" [routerLink]="['administration/associations']">Associations</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Hi {{currentUser.fullName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
