<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #1b6ec2 !important">
    <div class="container" >
      
      <a class="nav-link" [routerLink]="['/']">
        <img src="../../assets/EDC logo_2021Feb01.gif" /> Operations</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <!--<li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
  </li>-->
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
  </li>-->
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/register']">Register</a>
  </li>-->
          <!-- Admin only -->
          <li class="nav-item" *ngIf="isAdmin || isAuthorized">
            <a class="nav-link text-dark" [routerLink]="['dashboard']">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link text-dark" [routerLink]="['listuser']">Users (Classic)</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link text-dark" [routerLink]="['aggriduser']">Users (ag Grid)</a>
          </li> 
          <li class="nav-item" *ngIf="isAdmin || isAuthorized">
            <a class="nav-link text-dark" [routerLink]="['profile']">Profile</a>
          </li>
          <!-- Anonymous only -->
          <!--<li class="nav-item" *ngIf="!isAuthorized">
    <a class="nav-link text-dark" [routerLink]="['login']">Login</a>
  </li>-->
          <!-- Authorized only -->
          <li class="nav-item" *ngIf="isAuthorized">
            <a class="nav-link text-dark" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item text-dark" *ngIf="isAuthorized"> <a class="nav-link"> Hi {{username}}!!</a> </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
