<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Update User</h2>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-row">
          <div class="form-group col">
            <label>Full Name<span style="color:red">*</span> :</label>
            <input type="text" formControlName="fullName" placeholder="Full Name" name="fullName" class="form-control" id="fullName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="username">Role<span style="color:red">*</span> :</label>
            <select formControlName="roleId" class="form-control" placeholder="Role" name="role" required>
              <option *ngFor="let role of roles" [value]="role.roleId">{{role.roleName}}</option>
            </select>
          </div>
          <div class="form-group col">
            <label for="username">Status<span style="color:red">*</span> :</label>
            <!--<select formControlName="status" class="form-control" placeholder="Status" name="status">
              <option value="Active" selected>Active</option>
              <option value="Inactive">Inactive</option>
            </select>-->
            <select formControlName="statusId" class="form-control" placeholder="Status" name="status" required>
              <option *ngFor="let statusItem of status" [value]="statusItem.statusId">{{statusItem.statusName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label>User Name<span style="color:red">*</span> :</label>
            <input type="text" formControlName="userName" placeholder="User Name" name="userName" class="form-control" id="userName">
          </div>
          <div class="form-group col">
            <br>
            <label for="username">Password :</label>
            <button (click)="openModal('modalChangePassword') " class="btn btn-info btn-sm" style="margin-left:10px">Change Password</button>
                          <jw-modal id="modalChangePassword">
                            <h1>Change Password</h1>
                            <div class="row">
                              <div class="col-1">

                              </div>
                              <div class="col-10" align="center">
                                <div class="form-group">
                                  <!--<label for="password">Pasword:</label>-->
                                  <input type="text" formControlName="password" placeholder="Password" name="password" class="form-control" id="password" #password />
                                  <app-password-strength-bar [passwordToCheck]="password.value" [barLabel]="barLabel">
                                  </app-password-strength-bar>
                                </div>
                              </div>
                              <div class="col-1">

                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6" align="right">
                                <button (click)="closeModal('modalChangePassword','Ok');" style="width:100px" class="btn btn-block btn-success">Ok</button>

                              </div>
                              <div class="col-6 text-left">
                                <button class="btn btn-danger" style="width:100px" (click)="closeModal('modalChangePassword','Cancel');">Cancel</button>

                              </div>
                            </div>
                          </jw-modal>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="username">Email<span style="color:red">*</span> :</label>
            <input type="text" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
          </div>
          <div class="form-group col">
            <label for="username">Phone<span style="color:red">*</span> :</label>
            <input type="text" class="form-control" placeholder="Phone" formControlName="phone" name="phone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="username">Address :</label>
            <input type="text" class="form-control" placeholder="Address" formControlName="address" name="address">
          </div>
        </div>
        <div>
          <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
            {{errorMessage}}
          </p>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-success" style="width:100px" (click)="onSubmit()">Submit</button>
            &nbsp;<button class="btn btn-danger" style="width:100px" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



